<div class="tab-content" id="v-pills-tabContent">
    <div class="tab-pane fade show active" id="v-pills-user" role="tabpanel" aria-labelledby="v-pills-user-tab">
        <h3>Users</h3>
        <div class="nav flex-column nav-pills"  role="tablist" aria-orientation="vertical" >
            <a class="nav-link pointer active"  data-toggle="pill"  aria-selected="true" routerLink="user/create">Create New</a>
            <a class="nav-link pointer"  data-toggle="pill"   aria-selected="false" routerLink="user/list">Show List</a>
        </div>
    </div>
    <div class="tab-pane fade" id="v-pills-course" role="tabpanel" aria-labelledby="v-pills-course-tab">
        
        <h3>Course</h3>
        <div class="nav flex-column nav-pills"  role="tablist" aria-orientation="vertical">
            <a class="nav-link pointer active"  data-toggle="pill"  aria-selected="true"routerLink="course/add">Create New</a>
            <a class="nav-link pointer"  data-toggle="pill"   aria-selected="false"routerLink="course/list">Show List</a>
        </div>


    </div>
    <div class="tab-pane fade" id="v-pills-subject" role="tabpanel" aria-labelledby="v-pills-subject-tab">
        <h3>Subject</h3>
        <div class="nav flex-column nav-pills"  role="tablist" aria-orientation="vertical">
            <div class="nav flex-column nav-pills"  role="tablist" aria-orientation="vertical">
                <a class="nav-link pointer active"  data-toggle="pill"  aria-selected="true" routerLink="subject/add">Create New</a>
                <a class="nav-link pointer"  data-toggle="pill"   aria-selected="false" routerLink="subject/list">Show List</a>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="v-pills-faculty" role="tabpanel" aria-labelledby="v-pills-faculty-tab">
        <h3>Faculty</h3>
        <div class="nav flex-column nav-pills"  role="tablist" aria-orientation="vertical">
            <a class="nav-link pointer active"  data-toggle="pill"  aria-selected="true" routerLink="faculty/add">Create New</a>
            <a class="nav-link pointer"  data-toggle="pill"   aria-selected="false" routerLink="faculty/list">Show List</a>
        </div>
    </div>
    <div class="tab-pane fade" id="v-pills-student" role="tabpanel" aria-labelledby="v-pills-student-tab">
        <h3>Student</h3>
        <div class="nav flex-column nav-pills"  role="tablist" aria-orientation="vertical" >
            <a class="nav-link pointer active"  data-toggle="pill"  aria-selected="true" routerLink="student/add" routerLinkActive="active">Create New</a>
            <a class="nav-link pointer"  data-toggle="pill"   aria-selected="false" routerLink="student/list" routerLinkActive="active">Show List</a>
        </div>
    </div>
    <div class="tab-pane fade" id="v-pills-attendance" role="tabpanel" aria-labelledby="v-pills-attendance-tab">
        <h3>Attendance</h3>
        <div class="nav flex-column nav-pills"  role="tablist" aria-orientation="vertical">
            <a class="nav-link pointer active"  data-toggle="pill"  aria-selected="true" routerLink="attendance/add">Create New</a>
            <a class="nav-link pointer"  data-toggle="pill"   aria-selected="false" routerLink="attendance/list">Show List</a>
        </div>
    </div>
</div>