
<h5>Faculty List</h5>
<section>
    <div class="container-fluid ">
        <div class="search-course">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
         
            <input class="form-control "  type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442;  Start searching by Id, Name ">
            
          </div>

        <table id="example" class="table table-striped table-bordered table-sm row-border hover" cellspacing="0" width="100%">
            <thead>
    <tr>
        <th>facultyid</th>
        <th>UserName</th>
        <th>TotalClass</th>
        <!-- <th>SubjectList</th>    -->
    </tr>
</thead>
<tbody>
    <tr *ngFor="let temp of facultys|paginate: 
    { itemsPerPage: 4, currentPage:p} | filter:searchText">
       <td>{{temp.facultyid}}</td>
        <td>{{temp.userName}}</td>
        <td>{{temp.totalClass}}</td>
        <!-- <td>{{item.subject.subjectName}}</td> -->
        
        <td><button style='margin-right:16px' (click)="deleteFaculty(temp.facultyid)" class="btn btn-danger">Delete</button>
            <button style='margin-right:16px' (click)="updateFaculty(temp.facultyid)" class="btn btn-success" style="margin-left: 10px">Update</button>
          </td>
    </tr>
    <tr>
        <td colspan="8" style="text-align: center;" > <pagination-controls  
   (pageChange)="p = $event">
   </pagination-controls> </td>
   </tr> 
</tbody>
</table>
</div>
</section>
  
