
<h3>Add Faculty</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()" class="needs-validation">
    
    <div class="form-group">
      <label for="name">UserName</label>
      <input type="text" class="form-control" id="userName" required [(ngModel)]="faculty.userName" name="userName" pattern=".{3,10}">
      <div class="valid-feedback">Valid .</div>
                <div class="invalid-feedback">Invalid input - must be between 3 to 10 characters </div>
    </div>
    <div class="form-group">
      <label for="name">TotalClasses</label>
      <input type="text" class="form-control" id="totalClass" required [(ngModel)]="faculty.totalClass" name="totalClass" pattern=".{3,10}">
      <div class="valid-feedback">Valid .</div>
                <div class="invalid-feedback">Invalid input - must be between 3 to 10 characters </div>
    </div>
    <!-- <div class="form-group">
        <label for="name">SubjectList</label>
        <input type="text" class="form-control" id="subjectList" required [(ngModel)]="faculty.subjectId" name="subjectList">
      </div>
     -->
    <button class="btn btn-success" (click)="validate($event)">AddFaculty</button>
  </form>
</div>


