<h3>Add User</h3>
<div [hidden]="submitted" >
    <form (ngSubmit)="onSubmit()" class="row needs-validation">
        <div class="col-sm">
            <div class="form-group">
                <label for="firstName">FirstName</label>
                <input type="text" class="form-control" id="firstName" required [(ngModel)]="user.firstName" name="firstName" pattern=".{3,30}">
                <div class="valid-feedback">Valid .</div>
                <div class="invalid-feedback">Invalid input - must be between 3 to 30 characters </div>
            </div>
            <div class="form-group">
                <label for="lastName">LastName</label>
                <input type="text" class="form-control" id="lastName" required [(ngModel)]="user.lastName" name="lastName" pattern=".{3,30}">            
                <div class="valid-feedback">Valid .</div>
                <div class="invalid-feedback">Invalid input - must be between 3 to 30 characters </div>
            </div>
            <div class="form-group">
                <label for="mobileNo">  mobileNo</label>
                    <input type="number" class="form-control" min="10" max="10" required [(ngModel)]="user.mobileNo" name="mobileNo" id="number" pattern="[0-9]{10}">
                    <div class="valid-feedback">Valid .</div>
                    <div class="invalid-feedback">Invalid input - must be valid mobile number of 10 digits </div>
              
            </div>
            <div class="form-group">
                <label for="profilePic">  ProfilePic</label>
                    <input type="url" class="form-control" required [(ngModel)]="user.profilePic" name="profilePic" id="profilePic" pattern=".{10,}">
                    <div class="valid-feedback">Valid .</div>
                <div class="invalid-feedback">Invalid input - must be minimum 10 characters </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="form-group">
                <label for="dob">Date of Birth
                </label>
                    <input type="date" class="form-control" required [(ngModel)]="user.dob" name="dob" id="dob" min ="{{getDate()}}">
                    <div class="valid-feedback">Valid .</div>
                    <div class="invalid-feedback">Invalid input - must be past date </div>
            </div>
            <div class="form-group">
                <label for="password"> password    </label>
                    <input type="password" class="form-control" required [(ngModel)]="user.password" name="password" id="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
                    <div class="valid-feedback">Valid .</div>
                    <div class="invalid-feedback">Invalid input - Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters </div>
            </div>
            <div class="form-group">
                <label for="roleType">Role Type
                </label>
                    <!-- <input type="number" class="form-control" [(ngModel)]="user.roleType" name="roleType" id="roleType"> -->
                    <select id="student-course" class="form-control" required [(ngModel)]="user.roleType" name="roleType">
                        <option    value="2" >Faculty</option>
                        <option    value="1" >Admin</option>
                    </select>
                    <div class="valid-feedback">Valid .</div>
                    <div class="invalid-feedback">Invalid input - must select one</div>
            </div>
            <div class="form-group">
                <label for="facultyId">Faculty id
                </label>
                    <input type="number" class="form-control" [(ngModel)]="user.facultyId" name="facultyId" id="facultyId">
                    <div class="valid-feedback">Valid .</div>
                    <div class="invalid-feedback">Invalid input - must select one</div>
            </div>
            <button class="btn btn-success" (click)="validate($event)">Submit</button>
        </div>
        
        
    </form>
</div>
