<!-- <div>
    <div class="nav flex-column nav-pills"  role="tablist" aria-orientation="vertical">
     <a class="nav-link active"  data-toggle="pill"  aria-selected="true">User</a>
     <a class="nav-link"  data-toggle="pill"   aria-selected="false">Course</a>
     <a class="nav-link"  data-toggle="pill"   aria-selected="false">Subject</a>
     <a class="nav-link"  data-toggle="pill"   aria-selected="false">Faculty</a>
     <a class="nav-link"  data-toggle="pill" aria-selected="false">Student</a>
     <a class="nav-link"  data-toggle="pill" aria-selected="false">Help</a>
    </div>
</div> -->

<div class="nav nav-pills m-2 pb-2 border-bottom " id="v-pills-tab" role="tablist" aria-orientation="vertical">
    <a class="nav-link active" id="v-pills-user-tab" data-toggle="pill" href="#v-pills-user" role="tab" aria-controls="v-pills-user" aria-selected="true">User</a>
    <a class="nav-link" id="v-pills-course-tab" data-toggle="pill" href="#v-pills-course" role="tab" aria-controls="v-pills-course" aria-selected="false">Course</a>
    <a class="nav-link" id="v-pills-subject-tab" data-toggle="pill" href="#v-pills-subject" role="tab" aria-controls="v-pills-subject" aria-selected="false">Subject</a>
    <a class="nav-link" id="v-pills-faculty-tab" data-toggle="pill" href="#v-pills-faculty" role="tab" aria-controls="v-pills-faculty" aria-selected="false">Faculty</a>
    <a class="nav-link" id="v-pills-student-tab" data-toggle="pill" href="#v-pills-student" role="tab" aria-controls="v-pills-student" aria-selected="false">Student</a>
    <a class="nav-link" id="v-pills-attendance-tab" data-toggle="pill" href="#v-pills-attendance" role="tab" aria-controls="v-pills-attendance" aria-selected="false">Attendance</a>
</div>
